body {
    background-color: rgb(16, 16, 16);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.body-wraper {
    background-color: rgb(16, 16, 16);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title,
.description {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(98, 98, 98);
}

.title {
    font-size: 1.5vw;
    margin: 5%;
    padding: 2%;
    border-radius: 7px;
    color: rgb(209, 209, 209);
}

.description {
    color: rgb(209, 209, 209);
    font-size: 1vw;
    padding: 5% 10%;
}

.user-table {
    width: 80%;
    margin-top: 8%;
    margin-inline: auto;
}

table {
    color: rgb(209, 209, 209);
    font-size: 1vw;
    background-color: rgb(16, 16, 16);
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    margin-bottom: 10%;
}

th,
td {
    border: 1px solid rgb(79, 112, 1);
    padding: 1rem;
    text-align: center;
    font-size: 0.8vw;
}


th {
    color: black;
    font-weight: 700;
    font-size: 1.1vw;
    background: rgb(65, 92, 0);
    text-align: center;
}


.details-btn {
    border-radius: 4px;
    background-color: rgb(79, 112, 1);
    color: rgb(209, 209, 209);
    font-size: 0.8vw;
    display: block;
    width: 100%;
    margin-top: 6%;
    padding: 1.5%;
    cursor: pointer;
    border: 1px solid rgb(59, 84, 0);
    transition: ease-in 0.15s;
}

.details-btn:hover {
    background-color: rgb(103, 147, 0)
}

tr:nth-last-of-type(odd) {
    background: rgb(29, 36, 10);
}



.users-ul li {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5vh;
    background: rgb(44, 55, 14);
}



.keySpan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 40%;
    height: 100%;
    text-align: center;
    border: 1px solid rgb(89, 116, 14);
    vertical-align: middle;
}

.valueSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    width: 60%;
    height: 100%;
    border: 1px solid rgb(89, 116, 14);
}

.info-container {
    font-size: 1.2vw;
    width: 50%;
    margin: 2%;
}

li:nth-last-of-type(odd) {
    background-color: rgb(65, 92, 0);
}

.btn-li {
    margin-top: 1.5%;
    width: 50px;
    border-radius: 5px;
    transition: ease-in 0.15s;
}

.btn-li:hover {
    background-color: rgb(101, 145, 0);
}

.posts-btn {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.posts-container {
    display: flex;
    margin: 5%;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-div {
    width: 200px;
    min-height: 300px;
    height: auto;
    color: rgb(236, 236, 236);
    background-color: rgb(65, 92, 0);
    margin: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: start;
    text-align: left;
    padding: 2%;
    border: 8px solid rgb(111, 159, 0);
    
}

.cards-h2{
    text-transform: capitalize;
    width: 100%;
    font-size: 1.5vw;
    border-bottom: 2px solid rgb(117, 190, 0);
    padding-bottom: 15%;
}
.cards-p{
    font-size: 1.1vw;
    text-transform: capitalize;
    padding-top: 8%;
    line-height: 120%;
}

@media(max-width: 1024px) {
    .body-wraper {
        width: 80%;
    }

    table {
        font-size: 2vw;
    }

    th,
    td {
        font-size: 1.5vw;
    }

    .title {
        font-size: 2.8vw;
    }

    .description {
        font-size: 1.8vw;
    }

    .details-btn {
        font-size: 1.4vw;
    }
}

@media(max-width: 460px) {
    table {
        font-size: 2vw;
    }

    th,
    td {
        font-size: 1.5vw;
    }

    .title {
        font-size: 2.8vw;
    }

    .description {
        font-size: 1.8vw;
    }

    .details-btn {
        font-size: 1.4vw;
    }

}